altair
annotated-types
anyio
attrs
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
cssselect2
defusedxml
distro
docopt
exceptiongroup
fonttools
fpdf2
gitdb
GitPython
groq
h11
html5lib
httpcore
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
markdown2
MarkupSafe
md2pdf
mdurl
mutagen
numpy
packaging
pandas
pillow
protobuf
pyarrow
pycparser
pycryptodomex
pydantic
pydantic_core
pydeck
pydyf
Pygments
pyphen
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
sniffio
streamlit
tenacity
tinycss2
toml
toolz
tornado
typing_extensions
tzdata
urllib3
watchdog
weasyprint
webencodings
websockets
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz
zopfli
supabase
